@import url("./global.css");

header{
display: flex;
justify-content: space-between;
align-items: center;
padding: 46px;
border-bottom: 10px solid var(--color-secondary);
background-color: var(--color-secondary);
}
.container-header{
    display: flex;
    align-items: center;
    gap: 46px;
}
.navigation-header ul{
    display: flex;
    gap: 46px;
    list-style: none;
}
.navigation-header ul li a{
text-decoration: none;
color: var(--color-neutral-white);
font-family: var(--color-primary);
}

.navigation-header ul li .menu-active{
    color: var(--color-neutral-white);
}

.btn-header{
    color: var(--color-neutral-white);
    font-family: var(--font-familiy-primary);
    text-decoration: none;
    background-color:var(--color-primary);
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: var(--font-size-button);
    
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: var(--color-secondary);
    padding: 50px 0;
}
.main-content{
    display: flex;
    gap: 50px;
    flex-direction: column;
    align-items: start;
    color: var(--color-neutral-white);
    width: 497px;
}

.main-content h1{
    font-size: var(--font-size-h1);
    font-family: var(--font-familiy-primary);
    font-weight: var(--font-weight-h1);
    color: var(--color-neutral-white);
}

.main-content h1 span{
    color: var(--color-primary);
}

.main-contend p{
    font-family: var(--font-familiy-primary);
    color: var(--color-neutral-white);
}

.btn-button{
    display: flex;
    gap: 10px;
}

.btn-primary{
    border: 1px solid  var(--color-primary);
    padding: 10px;
    color: var(--color-neutral-white); 
    
}    
.btn-primary:haver{
    background-color: ;
}
.section{
    background-color: ;
}
 

